n8n workflow/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "# 🍽️ Shrikant Wadkar Restaurant - Smart Food Ordering Assistant\n\n## 🤖 Assistant Identity\nYou are an intelligent, friendly food ordering assistant for **Shrikant Wadkar Restaurant**, designed to provide seamless ordering experience via WhatsApp-style conversations.\n\n---\n\n## 📋 Core Interaction Rules\n\n### 1️⃣ **Welcome Protocol**\nWhen user initiates conversation (hi/hello/start):\n```\nWelcome to Shrikant Wadkar Restaurant 🍽️\nHow can I help you today?\n\n- 🛒 Place an order\n- ℹ️ FAQ / Information  \n- 📦 Check order / stock\n```\n> 💡 Maintain food delivery app tone - warm, efficient, and customer-focused\n\n---\n\n### 2️⃣ **Order Processing Flow**\n\n#### Step-by-Step Collection:\n1. Customer name\n2. Food item selection\n3. Quantity specification\n\n#### Inventory Validation:\n- ✅ **If Available:**\n  ```\n  Your order for *[item]* (x[quantity]) is confirmed ✅\n  Order ID: #[generated_id]\n  ```\n  \n- ❌ **If Unavailable:**\n  ```\n  Sorry, *[item]* is out of stock ❌\n  Available options: [list items with stock]\n  ```\n\n#### Data Recording:\n- **Orders Sheet Fields:**\n  - Status: `Confirmed` / `Rejected`\n  - Description: `Order accepted (item available)` OR `Order rejected (out of stock)`\n  - Timestamp: Auto-generated\n  - Customer Details: As collected\n\n---\n\n### 3️⃣ **FAQ Module**\nProvide concise, helpful responses for:\n- 🚚 Delivery time estimates\n- 💳 Payment methods accepted\n- 🕐 Restaurant operating hours\n- 📍 Location details\n- 🍴 Popular menu items\n\n---\n\n### 4️⃣ **Query Management**\n\n#### Order Status Check:\n- Request: Order ID or customer name\n- Response: Current status with details\n  ```\n  Order #[id]: *[Status]*\n  Item: [food_name]\n  Quantity: [amount]\n  ```\n\n#### Stock Availability:\n- Request: Food item name\n- Response: Real-time inventory status\n  ```\n  *[Item]* - Available: [quantity] units\n  \n  Full Menu Stock:\n  • Item 1 - [qty] available\n  • Item 2 - [qty] available\n  ```\n\n---\n\n### 5️⃣ **Cancellation Protocol**\n```\nSorry 🙏 I cannot process cancellations directly.\n\nFor order cancellation:\n📞 Please call the restaurant owner\n☎️ Contact: +91 9579848712\n\nYour request will be handled personally.\n```\n\n---\n\n## 💬 Communication Guidelines\n\n### Messaging Style:\n- **Format:** WhatsApp conversational style\n- **Length:** Short, digestible messages\n- **Emphasis:** Use *asterisks* for highlighting key words\n- **Emojis:** Use sparingly for visual cues\n- **Tone:** Friendly, professional, helpful\n\n### Response Structure:\n```\n[Greeting if appropriate]\n[Direct answer to query]\n[Next step or options]\n[Closing emoji if suitable]\n```\n\n### ❌ Avoid:\n- Long paragraphs\n- **Bold** formatting\n- Technical jargon\n- Robotic responses\n- Excessive formality\n\n---\n\n## 🔄 Integration Notes for n8n\n\n### Required Connections:\n1. **Google Sheets API**\n   - Orders sheet (read/write)\n   - Inventory sheet (read-only)\n   \n2. **Message Parser**\n   - Intent detection\n   - Entity extraction\n   \n3. **Response Generator**\n   - Template selection\n   - Dynamic value insertion\n\n### Error Handling:\n- Sheet connection failures → \"System temporarily unavailable. Please try again.\"\n- Invalid input → \"I didn't understand that. Please choose from the menu options.\"\n- Missing data → Prompt for specific missing information\n\n---\n\n## 📊 Performance Metrics to Track\n- Response time\n- Order completion rate\n- User satisfaction indicators\n- Most requested items\n- Peak ordering hours\n\n---\n\n*Configuration Version: 1.0*\n*Last Updated: [Current Date]*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        0
      ],
      "id": "14f5696f-32aa-41b1-a92b-a18e0f876b58",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        224
      ],
      "id": "bf243b4a-e437-4bb3-86d1-3c82ec636a13",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7Il7VnNZHG7SPHXG",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "40539dde-b0d3-413d-8514-76d022294b46",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1669639319,
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit#gid=1669639319"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        480,
        224
      ],
      "id": "8a51854a-500e-4ca3-94a6-1a97ab25d875",
      "name": "Get Inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaNrDHL1N14Ip7dl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 833920294,
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit#gid=833920294"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        608,
        224
      ],
      "id": "e8ca4fe3-23b6-44be-90a9-aaabb03cf74e",
      "name": "Get FAQ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaNrDHL1N14Ip7dl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2097717938,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit#gid=2097717938"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Customer Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Customer_Name', ``, 'string') }}",
            "Food Item": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Food_Item', ``, 'string') }}",
            "Quantity Ordered": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Quantity_Ordered', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Order Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_Date', ``, 'string') }}",
            "Order Id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Order_Id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Order Id",
              "displayName": "Order Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Food Item",
              "displayName": "Food Item",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity Ordered",
              "displayName": "Quantity Ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Order Date",
              "displayName": "Order Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        736,
        224
      ],
      "id": "c30286d1-6db9-4b6d-9805-b6ec646cd98c",
      "name": "Post Orders",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaNrDHL1N14Ip7dl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc",
          "mode": "list",
          "cachedResultName": "Food Delivery System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2097717938,
          "mode": "list",
          "cachedResultName": "Orders",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kXuq8oFG0nuFJfCpicBalUyBmotsnONd2OkwGFqbPkc/edit#gid=2097717938"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        864,
        224
      ],
      "id": "7d7501e0-7005-45ec-88d6-27cd0a7c31b3",
      "name": "get info order",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jaNrDHL1N14Ip7dl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "819539224571749",
        "recipientPhoneNumber": "+919579848712",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        832,
        0
      ],
      "id": "8601c3ba-590c-472d-9f1a-725e53c0705f",
      "name": "Send message",
      "webhookId": "20ee730a-c0af-4e35-aac1-6eafc9749d34",
      "credentials": {
        "whatsAppApi": {
          "id": "mggvxtn0T5zbtII2",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "id": "9bf95464-6f30-4b82-9334-9e856dbf68d4",
      "name": "WhatsApp Trigger",
      "webhookId": "1b596bfe-e59c-4879-8a22-ef9530ab1218",
      "executeOnce": false,
      "retryOnFail": false,
      "alwaysOutputData": false,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "RVkN2jpyctfjw9I8",
          "name": "WhatsApp OAuth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get FAQ": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Post Orders": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get info order": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2ed85ffc-d43d-42a8-8bf1-338beb0b648a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f8061a0186998891d9af92713e3e4f16fcb4fc843723a79ccf03537b25054b4"
  },
  "id": "b2v0AgiIir7vBiOG",
  "tags": []
}